<%- include("partials/header") -%>

<%- include("partials/navbar", {home: "", about: "", contact:""}) -%>

<div class="container content">

<h1><%= title %></h1>

<form method="post" action="/">
  <div class="form-group" method="post">
    <label for="postTitle">Title</label>
    <input name="title" type="text" class="form-control" id="postTitle" required>
  </div>

  <div class="form-group">
    <label for="postContent">Post</label>
    <textarea name="content" class="form-control" id="postContent" rows="5" required></textarea>
  </div>

  <button type="submit" class="btn btn-warning mb-2 save">Save</button>

</form>


<%- include("partials/footer") -%>
